!**/packages/build/
!*.[Cc]ache/
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/*.sln.ide
**/App_Data/*.ldf
**/App_Data/*.mdf
**/App_Data/*.sdf
**/packages/*
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.Cache
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.GhostDoc.xml
*.gpState
*.ilk
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ncrunch*
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.opendb
*.opensdf
*.opt
*.orig
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.Publish.xml
*.publishproj
*.publishsettings
*.pubxml
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.suo
*.svclog
*.swo
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.txt~
*.user
*.userosscache
*.userprefs
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.builds
.DS_Store
.DS_Store*
.fake/
.idea/
.JustCode
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache
.sass-cache/
.svn
.vs/
AppData/
AppPackages/
artifacts/
AutoTest.Net/
Backup*/
bld/
build/
BundleArtifacts/
ClientBin/
csx
csx/
Desktop.ini
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
FakesAssemblies/
GeneratedArtifacts/
Generated_Code/
Icon?
ipch/
ModelManifest.xml
modulesbin/
nCrunchTemp_*
node_modules/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
project.lock.json
publish/
PublishScripts/
rcf/
tempbin/
TestResult.xml
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_Pvt_Extensions/
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
~$*